<div class="content-page aboutus">
    <div class="content-text">        
        <p>Valley Carpet Cleaning has been providing carpet, area rug and upholstery cleaning services for Columbia County 
        and surrounding areas since 1977. As a family owned business we pride ourselves in offering professional cleaning services 
        for the families and businesses that make up our community in a friendly, trustworthy and competent manner.</p>
        <img class="aboutus-photo" src="/img/family.png" alt="family"/>
    </div>
</div>