<div class="content-page greencleaning">
    <div class="content-text">
        <img class="greencleaning-photo" src="/img/green-earth-large.png" alt="green globe"/>
        <h4>Green Cleaning</h4>
        <p>Valley Carpet Cleaning is very concerned about the your health and the health of your  family  and pets. 
        We also value our health as your carpet cleaning technicians.   Therefore, we offer and focus on using green cleaning solutions 
        to provide a clean area and reduce the impact we have on our natural world.</p> 
        <p>Our featured green products are designed to be effective at cleaning, but when disposed of, have no negative impacts on the environment.  
        They are considered to be food grade waste. Thus, the environmental impact is similar to pouring chicken soup out on the ground.  
        This helps us, and you to sleep a little easier.</p>
    </div>
</div>