<div class="content-page office">
    <div class="content-text">
        <img class="office-photo" src="/img/office.png" alt="office"/>
        <h4>Office Carpet Cleaning</h4>
        <p>The carpets in your office are one of the most important areas to dictating the health and attractiveness of your work space.  
        Valley Carpet Cleaning provides the highest in industry standards for carpet care.</p>
        <p>Many janitorial companies that advertise carpet care use "shampooing",  small portable units, or their "creative" means.  
        While these may provide some benefit, they do not get your carpets truly clean.</p>
        <p>We use the industry standard of hot water extraction, or "steam cleaning".  This is done by using powerful truck-mounted cleaning systems.  
        This is an important distinction, because truly clean carpets improve your office's appearance, the health of those in the office and your carpets longevity.</p>
    </div>
</div>