<div class="content-page upholstery">
    <div class="content-text">
        <img class="upholstery-photo" src="/img/upholstery3.png" alt="upholstery 3"/>
        <h4>Upholstery Cleaning</h4>
        <p>The furniture in our home is a focus for family life.  For example, that favorite recliner often "moonlights" as our dining table, 
		movie theater seat and, even sometimes, our bed.  It might be where a grandchild spends time with a juice cup or where the family pet lays claim.  
		With all the use these expensive items receive it is important that they are regularly cleaned.  
		Such cleaning can preserve their appearance and add longevity.</p>
        <img class="upholstery-photo2" src="/img/slide-003.png" alt="upholstery"/>
        <p>And cleaning they need.  Can you imagine snuggling up to a blanket that was used daily, but had never been cleaned in a year?  
		No matter how much air freshener you use, it doesn't make it clean.  Now think about your upholstery.  
		How often is it used? Who's been using it? When was the last time it was really cleaned?</p>
		<p>Valley Carpet Cleaning has the tools, products, and training to clean your valuable upholstery for a pleasant feel, appearance, and fresh scent.</p>
    </div>
</div>



